@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
	--colorPrincipal:#134158;
	--colorSecundario: #E5F3FB;
	--colorDominante:#6646F0;
}


body{
	background: #2b8cbe;
	text-align: center;
	font-family: "Atkinson Hyperlegible", static;
 	font-optical-sizing: auto;
  	font-weight: <weight>;
  	font-style: normal;
	
}

h1{
	font-weight: bolder;
	font-size: calc(2rem + 2vw);
	margin: 0;
}

a:hover{
	color: var(--colorPrincipal);
	transition: color ease .1s;
}
a:visited{
	color: var(--colorDominante);
	transition: color ease .1s;
}

div.container{
	width: min(800px,90%);
	margin: 2rem auto;
	padding: 1rem;
	background: #E5F3FB;
	text-align: left;
	color: #134158;
}
table {
	width: 100%;
}
table, th, td{ 
	border-bottom: 1px solid #2b8cbe;
	border-collapse: collapse;
}
th, td{
	padding: 0.2rem;
}
th:nth-child(2),td:nth-child(2){
	text-align: center;
}